img {
    width: 100%;
    display: grid;
    align-self: center;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 70% 10%;
    justify-items: center;
    align-items: center;
    column-gap: 5%;

    font-size: clamp(1.3rem, 2vw, 2rem);
    font-weight: 600;
}