.main {
    width: 30%;
    height: 60%;
    padding: 1% 2% 2% 2%;

    display: grid;
    grid-template-rows: 5% 95%;
}

.titleDesc{
    display: grid;
    grid-template-rows: 10% 85%;
    row-gap: 5%;
    justify-items: center;
}

.title {
    display: grid;
    justify-self: center;
}

.cross {
    display: grid;
    justify-self: right;

    color: rgba(53, 72, 132, 1);
    text-decoration: none;
}

.sectionForTable {
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

.sectionForTable tr{
    border-bottom: 2px solid rgba(53, 72, 132, 1);
}

.tableStat, .tableHead {
    border-collapse: collapse;
}

.tableHead th {
    font-size: 1.4rem;
}

.tableStat {
    width: 100%;
}

.scrollTable {
    overflow-y: scroll;
}

.sectionForTable td {
    padding: 3% 0 3% 0;
    text-align: center;
}

::-webkit-scrollbar {
    background-color: rgba(229, 233, 247, 1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(179, 191, 232, 1);
    border-radius: 20px;
}

@media screen and (orientation: landscape) {
    .main {
        width: 30%;
        height: 60%;

        border: 5px solid rgba(40, 67, 152, 0.8);
        border-radius: 30px;
    }
}

@media screen and (orientation: portrait) {
    .main {
        width: 90%;
        height: 60%;
    }
}