.main {
    width: 30%;
    padding: 1% 2% 2% 2%;

    display: grid;
    grid-template-rows: 5% 95%;
}

.cross {
    display: grid;
    justify-self: right;

    color: rgba(53, 72, 132, 1);
    text-decoration: none;
}

.titleDesc {
    display: grid;
    justify-items: center;
}

.header {
    width: 70%;
    display: grid;
    grid-template-columns: 15% 60% 15%;
    justify-items: center;
    column-gap: 5%;

    justify-self: center;

    font-size: 2rem;
    font-weight: 600;
}