.main {
    padding: 1% 2% 2% 2%;

    display: grid;
    grid-template-rows: 5% 95%;

}

.cross {
    display: grid;
    justify-self: right;

    color: rgba(53, 72, 132, 1);
    text-decoration: none;
}

.titleDesc {
    display: grid;
    justify-items: center;
}

@media screen and (orientation: landscape) {
    .main {
        width: 30%;

        border: 5px solid rgba(40, 67, 152, 0.8);
        border-radius: 30px;
    }
}

@media screen and (orientation: portrait) {
    .main {
        width: 80%;

        display: grid;
        grid-template-rows: 5% 95%;

    }
}