.header {
    display: grid;
    justify-self: center;
    width: 65%;
}

.main {
    display: grid;
    grid-template-rows: 10% 85%;
    row-gap: 5%;
}

.information {
    border: 1px solid black;

    display: grid;
    justify-items: center;
}

.buttonNext {
    display: grid;
    justify-self: end;
}

