.header {
    display: grid;
    justify-self: center;
    width: 85%;
}

.main {
    display: grid;
    grid-template-rows: 10% 85%;
    row-gap: 10%;

    padding: 3% 0 3% 0;
}

.information {


    display: grid;
    justify-items: center;
}

.buttonNext {
    display: grid;
    justify-self: end;

    color: rgba(53, 72, 132, 1);

    text-decoration: none;
}

@media screen and (orientation: landscape) {
    .main {
        width: 80%;
    }
}

@media screen and (orientation: portrait) {
    .main {
        width: 90%;
    }
}


