.header {
    display: grid;
    justify-self: center;
    width: 80%;
}

.main {
    display: grid;
    grid-template-rows: 10% 85%;
    row-gap: 10%;

    width: 85%;
    padding: 3% 0 3% 0;
}

.information {
    border: 5px solid rgba(40, 67, 152, 0.8);
    border-radius: 30px;

    display: grid;
    justify-items: center;
}

.buttonNext {
    display: grid;
    justify-self: end;

    color: rgba(53, 72, 132, 1);

    text-decoration: none;
}

