.arrangement {
    width: 40%;
    height: 70%;

    display: grid;
}

.main {
    display: grid;
    justify-items: center;
    grid-template-rows: 85% 10%;
    row-gap: 5%;
}

.fieldAndDescr {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 5% 70% 15%;
    row-gap: 5%;
}

.nameAndChange {
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
}

.forImg {
    display: grid;
    align-self: end;
}

.fieldAndRepeat {
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-self: right;
}

.img_replay {
    width: 50%;
}

.field {
    width:60%;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: right;
}

table {
    border: 3px solid rgba(53, 72, 132, 1);
    border-radius: 20px;
    border-collapse: collapse;

    table-layout: fixed;
    width: 80%;
}

.buttonChangePlayer {
    height: 100%;
    background-color: rgba(211, 221, 255, 1);
    border: 3px solid rgba(53, 72, 132, 1);
    border-radius: 20px;

    color: rgba(53, 72, 132, 1);;
    font-family: 'Montserrat', sans-serif;
}

button:disabled{
    color: rgb(156, 163, 184);
    border: 3px solid rgb(156, 163, 184);
}


td {
    border: 1px solid rgba(53, 72, 132, 1);
}

table.rounded {

}



