.nav {
    height: 100%;
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;

    align-items: center;
}

.main {
    color:  rgba(53, 72, 132, 1);
    text-decoration: none;
}

.mainButton {
    padding: 2%;
    border: 3px solid rgba(53, 72, 132, 1);
    border-radius: 20px;
}

.rulesAndStatistics {
    display: grid;
    justify-items: left;
    width: 70%;
    grid-template-columns: 40% 60%;
}

.startAndExit {
    display: grid;
    justify-items: right;
}

@media screen and (orientation: portrait) {
    .rulesAndStatistics {
        display: grid;
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: 30% 30%;
        row-gap: 40%;
    }
}