.nav {
    height: 100%;
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
}

.main {
    color:  rgba(53, 72, 132, 1);
    text-decoration: none;
}

.mainButton {
    padding: 2%;
    border: 3px solid rgba(53, 72, 132, 1);
    border-radius: 20px;
}

.rulesAndStatistics {
    display: grid;
    justify-items: left;
    width: 50%;
    grid-template-columns: 50% 50%;
}

.startAndExit {
    display: grid;
    justify-items: right;
}